<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  />
    <title>Kudos to You!</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/successStyle.css" />
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/getcrookd/image/upload/c_thumb,g_face,w_75/v1591368995/getCrookd/logo/label_zbqveu.jpg"/>
      getCrookd</a>
		<button
		  class="navbar-toggler"
		  type="button"
		  data-toggle="collapse"
		  data-target="#navbarNavDropdown"
		  aria-controls="navbarNavDropdown"
		  aria-expanded="false"
		  aria-label="Toggle navigation"
		>
		  <span class="navbar-toggler-icon"></span>
		</button>
  
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		  <ul class="navbar-nav ml-auto nav-flex-icons">
			<!--<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Features</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Pricing</a>
			  </li>-->
			<li class="nav-item dropdown">
				<a class="navbar-brand" href="/logout">Log Out</a>
			</li>
		  </ul>
		</div>
	  </nav>
	  <!--Navbar -->
    <div class="container">			
		  <br />
		  <br/>
      <div class="card text-white bg-success ">
        <div class="card-header">Thanks For Being a Life Saver!</div>
        <div class="card-body">
          <h5 class="card-title">Your Responses have been recorded.</h5>
          <p class="card-text">We will be opening our startup soon.</p>
        </div>
       </div>

       <br/><br/>
  <div class="container">
    <div class="card-columns">
      <div class="card">
        <img src="https://res.cloudinary.com/getcrookd/image/upload/c_thumb,g_face,w_220/v1591368995/getCrookd/logo/label_zbqveu.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">So, Who are we?</h5>
          <p class="card-text">We are a team of Hustlers who became Saint during this Quarantine 2020. Just Kidding, we are hailing from Tamil Nadu with a dream of becoming a brand representing India❤️</p>
        </div>
      </div>
      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>We know that Face mask, Gloves have become Mandatory in our Day to Day life, We will help you fights this war. Send a <a href="mailto:getcrookd@gmail.com"> mail</a> to query</p>
        </blockquote>
      </div>
      
      <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
          <p><script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-71bad52b-1ea4-42da-af4b-3257b8fa2f2d"></div></p>
        </blockquote>
      </div>
      <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>It's been a Hard time for us, But don't give up! The Sun will rise again</p>
          </footer>
        </blockquote>
      </div>

    </div>
  </div>

  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-21cd34c5-ab99-433b-8025-42057e67ec1a"></div>


       <footer id="colophon" class="site-footer" role="contentinfo">
  
        <div class="container">
         <div class="row">
           <div class="col-md-3 col-sm-6">
             <!--Column1-->
             <div class="footer-pad">
               <h4>About Us</h4>
               <ul class="list-unstyled">
                 <li><a href="#"></a></li>
                 <li><a href="mailto:getcrookd@gmail.com">Careers</a></li>
                 <li><a href="https://www.termsfeed.com/live/9707dde0-a6fe-4dab-82ef-dc36c072ee79">Privacy policy</a></li>
                 <li><a href="https://www.termsfeed.com/live/9ffff033-931b-4edd-8a02-51820cbf8abb">Terms & Conditions</a></li>
               </ul>
             </div>
           </div>
           <div class="col-md-4 col-sm-6">
             <!--Column1-->
             <div class="footer-pad">
               <h4>Made with ❤️ In India</h4>
               <ul class="list-unstyled">
                 <li><h6>Launching on Aug 2020</h6></li>
               </ul>
             </div>
           </div>  
       
       
         <div class="col-md-4 col-sm-6 ">
       <div class="social-wrapper">
          <h4>Follow Us on</h4>
         <ul>
           <li>
             <a href=" https://twitter.com/getcrookd" target="_blank">
               <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt="Twitter Logo" class="twitter-icon"></a>
           </li>
           <li>
             <a href="https://www.instagram.com/getcrookd/" target="_blank">
               <img src="https://www.mchenryvillage.com/images/instagram-icon.png" alt="Instagram Logo" class="instagram-icon"></a>
           </li>
           
           <li>
             <a href="https://www.facebook.com/getcrookd.garments" target="_blank">
               <img src="http://www.iconarchive.com/download/i54037/danleech/simple/facebook.ico" alt="Facebook Logo" class="facebook-icon"></a>
           </li>
           <li>
             <a href="mailto:getcrookd@gmail.com" target="_blank">
               <img src="https://img.icons8.com/color/48/000000/gmail.png" alt="Googleplus Logo" class="googleplus-icon"></a>
           </li>     
         </ul>
       </div>     
       <nav class="footer-nav" role="navigation">
         <p>Copyright &copy; 2020 getCrookd. All rights reserved.</p>
       </nav>
             </div></div> 
      </footer>

    </div>
    
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
